@{ 
  Layout = "_Layout";
}

<h1>Order List Details: </h1>

<h2>@Model["order"].Name</h2>
<p>Order: @Model["vendor"].Name</p>
<p>Description: @Model["order"].Description</p>
<p>Price: @Model["order"].Price</p>
<p>Date: @Model["order"].Date</p>




<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another Order</a><br>
<a href="/vendors">View all Vendors</a>